.login-container {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.separator {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.separator hr {
  flex: 1;
  height: 1px;
  border: none;
  background: #ccc;
}

.separator span {
  margin: 0 10px;
  color: #999;
  font-size: 14px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 12px 0;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 30px;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
}

.social-button:hover {
  background: #f7f7f7;
}

.social-button img {
  height: 16px;
}



.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.login-card {
  background-color: white;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 420px;
}

.login-header h2 {
 background-color: rgb(27, 4, 106); 
  color: white;
  font-size: 28px;
  text-align: center;
  padding: 12px 0;
  border-radius: 10px;
  margin-bottom: 20px;
}

.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 20px;
}

.login-form label {
  font-weight: 500;
  margin-bottom: 4px;
}

.login-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.register-button {
  padding: 12px;
  background-color: rgb(27, 4, 106);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.2s;
}

.register-button:hover {
  background-color: #535151;
}

.sign_in-button {
  padding: 12px;
  background-color: rgb(27, 4, 106);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.2s;
}

.sign_in-button:hover {
  background-color: #535151;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  color: #aaa;
}

.separator hr {
  flex: 1;
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}


.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 14px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 28px;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

.social-button img {
  height: 16px;
}

.social-button:hover {
  background-color: #f0f0f0;
}
